<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <!--> Пример XML конфигурации. https://github.com/ValeriyTyutyunnik/IssueRobot
          Разбора данной конфигурации и описание всех тэгов находится в wiki <-->
    <routing_on>false</routing_on>
    <robot_period>300</robot_period>
    <jira_url login="login" pwd="1234" max_results="50">https://jira.example.com</jira_url>

    <calendar>
        <work_days>1,2,3,4,5,6,7</work_days>
        <start_time>00:00</start_time>
        <end_time>23:59</end_time>
    </calendar>

    <projects>
        <Project1 log_enable="false">
            <jql>project = "Test" and created >= -5m</jql>
            <add_comment>New task was created</add_comment>
            <edit_fields>
                <customfield_1>100500</customfield_1>
            </edit_fields>
        </Project1>

        <Project2 reporter_cannot_be_assigned="true">
            <jql>project = "DEV" and status = "Code Review" and assignee = null</jql>
            <blocks>
                <only_one_block>
                    <assignees>
                        <assignee>Reviewer1</assignee>
                        <assignee>Reviewer2</assignee>
                    </assignees>
                </only_one_block>
            </blocks>
        </Project2>

        <Project3 reporter_cannot_be_assigned="false" always_parse_comments="true" log_enable="true">
            <jql>project="TEST" and status = "OPEN" and assignee = null</jql>
            <add_labels>
                <label>label1</label>
                <label>label2</label>
            </add_labels>
            <tomita_config fact_field="FactResult">config_project3.proto</tomita_config>
            <blocks>
                <block_name1>
                    <assignees>
                        <assignee>assignee1</assignee>
                        <assignee>assignee2</assignee>
                    </assignees>
                    <keywords>
                        <keyword weight ="3">key1</keyword>
                        <keyword weight ="1">key2</keyword>
                        <keyword weight="-3">key3</keyword>
                        <keyword>keyn</keyword>
                    </keywords>
                    <edit_fields>
                        <customfield_2>1</customfield_2>
                        <customfield_3>$new_assignee</customfield_3>
                    </edit_fields>
                </block_name1>
                <block_name2>
                    <assignees>
                        <assignee>assignee3</assignee>
                    </assignees>
                    <keywords>
                        <keyword weight ="-2">key2</keyword>
                        <keyword weight="3">key4</keyword>
                        <keyword>keyn</keyword>
                    </keywords>
                    <reporters>
                        <reporter>reporter1</reporter>
                        <reporter weight="2">reporter2</reporter>
                    </reporters>
                    <labels>
                        <label weight="10">some label</label>
                        <label weight="-10">some label2</label>
                    </labels>
                    <edit_fields>
                        <customfield_2>2</customfield_2>
                        <customfield_3>$new_assignee</customfield_3>
                    </edit_fields>
                </block_name2>
            </blocks>
        </Project3>

    </projects>
</config>
